@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap");
html {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}

* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.grid {
  width: 100%;
  display: block;
  padding: 0;
}

.grid.wide {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}

.row.no-gutters {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding-left: 4px;
  padding-right: 4px;
}

.row.no-gutters .col {
  padding-left: 0;
  padding-right: 0;
}

.c-0 {
  display: none !important;
}

.c-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.c-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.c-2-4 {
  flex: 0 0 20%;
  max-width: 20%;
}

.c-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.c-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.c-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.c-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.c-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.c-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.c-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.c-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.c-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.c-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.c-o-1 {
  margin-left: 8.33333%;
}

.c-o-2 {
  margin-left: 16.66667%;
}

.c-o-3 {
  margin-left: 25%;
}

.c-o-4 {
  margin-left: 33.33333%;
}

.c-o-5 {
  margin-left: 41.66667%;
}

.c-o-6 {
  margin-left: 50%;
}

.c-o-7 {
  margin-left: 58.33333%;
}

.c-o-8 {
  margin-left: 66.66667%;
}

.c-o-9 {
  margin-left: 75%;
}

.c-o-10 {
  margin-left: 83.33333%;
}

.c-o-11 {
  margin-left: 91.66667%;
}

/* Tablet */
@media (min-width: 768px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }

  .col {
    padding-left: 8px;
    padding-right: 8px;
  }

  .sm-0 {
    display: none;
  }

  .sm-1,
.sm-2,
.sm-3,
.sm-4,
.sm-5,
.sm-6,
.sm-7,
.sm-8,
.sm-9,
.sm-10,
.sm-11,
.sm-12 {
    display: block;
  }

  .sm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .sm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .sm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .sm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .sm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .sm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .sm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .sm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .sm-o-1 {
    margin-left: 8.33333%;
  }

  .sm-o-2 {
    margin-left: 16.66667%;
  }

  .sm-o-3 {
    margin-left: 25%;
  }

  .sm-o-4 {
    margin-left: 33.33333%;
  }

  .sm-o-5 {
    margin-left: 41.66667%;
  }

  .sm-o-6 {
    margin-left: 50%;
  }

  .sm-o-7 {
    margin-left: 58.33333%;
  }

  .sm-o-8 {
    margin-left: 66.66667%;
  }

  .sm-o-9 {
    margin-left: 75%;
  }

  .sm-o-10 {
    margin-left: 83.33333%;
  }

  .sm-o-11 {
    margin-left: 91.66667%;
  }
}
/* PC medium */
@media (min-width: 1113px) {
  .row {
    margin-left: -10px;
    margin-right: -10px;
  }

  .col {
    padding-left: 10px;
    padding-right: 10px;
  }

  .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }

  .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }

  .md-0 {
    display: none;
  }

  .md-1,
.md-2,
.md-2-4,
.md-3,
.md-4,
.md-5,
.md-6,
.md-7,
.md-8,
.md-9,
.md-10,
.md-11,
.md-12 {
    display: block;
  }

  .md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .md-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .md-o-1 {
    margin-left: 8.33333%;
  }

  .md-o-2 {
    margin-left: 16.66667%;
  }

  .md-o-3 {
    margin-left: 25%;
  }

  .md-o-4 {
    margin-left: 33.33333%;
  }

  .md-o-5 {
    margin-left: 41.66667%;
  }

  .md-o-6 {
    margin-left: 50%;
  }

  .md-o-7 {
    margin-left: 58.33333%;
  }

  .md-o-8 {
    margin-left: 66.66667%;
  }

  .md-o-9 {
    margin-left: 75%;
  }

  .md-o-10 {
    margin-left: 83.33333%;
  }

  .md-o-11 {
    margin-left: 91.66667%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .wide {
    max-width: 900px;
    padding: 0 15px;
  }
}
/* PC */
@media (min-width: 1024px) and (max-width: 1239px) {
  .wide {
    width: 984px;
    padding: 0 15px;
  }

  .wide .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  .wide .col {
    padding-left: 15px;
    padding-right: 15px;
  }

  .wide .row.sm-gutter {
    margin-left: -5px;
    margin-right: -5px;
  }

  .wide .row.sm-gutter .col {
    padding-left: 5px;
    padding-right: 5px;
  }

  .wide .lg-0 {
    display: none;
  }

  .wide .lg-1,
.wide .lg-2,
.wide .lg-2-4,
.wide .lg-3,
.wide .lg-4,
.wide .lg-5,
.wide .lg-6,
.wide .lg-7,
.wide .lg-8,
.wide .lg-9,
.wide .lg-10,
.wide .lg-11,
.wide .lg-12 {
    display: block;
  }

  .wide .lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }

  .wide .lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }

  .wide .lg-2-4 {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .wide .lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .wide .lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }

  .wide .lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }

  .wide .lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .wide .lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }

  .wide .lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .wide .lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .wide .lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }

  .wide .lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }

  .wide .lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .wide .lg-o-1 {
    margin-left: 8.33333%;
  }

  .wide .lg-o-2 {
    margin-left: 16.66667%;
  }

  .wide .lg-o-3 {
    margin-left: 25%;
  }

  .wide .lg-o-4 {
    margin-left: 33.33333%;
  }

  .wide .lg-o-5 {
    margin-left: 41.66667%;
  }

  .wide .lg-o-6 {
    margin-left: 50%;
  }

  .wide .lg-o-7 {
    margin-left: 58.33333%;
  }

  .wide .lg-o-8 {
    margin-left: 66.66667%;
  }

  .wide .lg-o-9 {
    margin-left: 75%;
  }

  .wide .lg-o-10 {
    margin-left: 83.33333%;
  }

  .wide .lg-o-11 {
    margin-left: 91.66667%;
  }
}
.app {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  line-height: 1;
  color: #4F5665;
  font-weight: 400;
  font-size: 16px;
  background-color: #F6F6F6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0B132A;
  margin: 0;
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: 0;
  cursor: pointer;
  outline: none;
}

.btn {
  padding: 13px 45px;
  font-weight: 700;
  font-size: 16px;
  border: 1px solid #F53838;
  border-radius: 100rem;
}
.btn:active {
  opacity: 0.7;
}
.btn-nofill {
  background-color: transparent;
  color: #F53838;
}
.btn-primary {
  background-color: #F53838;
  color: #fff;
}
.btn-rounded {
  border-radius: 5px;
  position: relative;
  z-index: 1;
}
.btn-rounded::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: translateY(50%);
  background-color: rgba(245, 56, 56, 0.35);
  filter: blur(54px);
  border-radius: 10px;
}

.heading {
  font-weight: 500;
  color: #0B132A;
  font-size: 35px;
  line-height: 1.4285714286;
  margin-bottom: 20px;
}
.heading strong {
  font-weight: 700;
}

.description {
  max-width: 555px;
  font-weight: 400;
  margin-bottom: 20px;
}
text .description strong {
  font-weight: 500;
}

.boxed {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.boxed .heading {
  max-width: 383px;
  text-align: center;
}
.boxed .description {
  line-height: 1.875;
  text-align: center;
}

.underline {
  position: relative;
  transition: all 0.3s;
}
.underline:hover {
  color: #F53838;
}
.underline:hover::after {
  width: 100%;
}
.underline::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 3px;
  background-color: #F53838;
  transition: all 0.3s;
}

@media screen and (max-width: 767.98px) {
  .boxed .heading {
    font-size: 28px !important;
  }
}
.header {
  padding: 45px 0 90px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.header-auth {
  display: flex;
  align-items: center;
  gap: 0 30px;
}
.header-signin {
  font-weight: 500;
  color: #0B132A;
}
.header .btn-toggle {
  display: none;
  background-color: #F53838;
}
.header .btn-toggle:hover {
  background-color: transparent;
}
.header .btn-toggle:hover i {
  color: #F53838;
}
.header .btn-toggle i {
  color: #fff;
}

.menu {
  display: flex;
  align-items: center;
  gap: 0 40px;
  list-style: none;
}
.menu-item:nth-child(6), .menu-item:nth-child(7) {
  display: none;
}
.menu-link {
  color: inherit;
  font-size: inherit;
}
.menu .btn-close {
  display: none;
}

@media screen and (max-width: 1023px) {
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 80vw;
    background-color: #fff;
    z-index: 9999;
    border-left: 1px solid #777;
    flex-direction: column;
    gap: 30px 0;
    padding-top: 90px;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.3s;
  }
  .menu.active {
    transform: translateX(0);
    opacity: 1;
  }
  .menu-item:nth-child(6), .menu-item:nth-child(7) {
    display: block;
  }
  .menu .btn-close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 30px;
    background-color: #fff;
  }
  .menu .btn-close:hover {
    opacity: 0.7;
  }

  .header .btn-toggle {
    display: block;
  }

  .header-auth {
    display: none;
  }
}
.hero {
  padding-bottom: 100px;
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 40px;
  position: relative;
}
.hero-container .heading {
  font-size: 50px;
  line-height: 1.4;
}
.hero-container .description {
  font-size: 16px;
  line-height: 1.875;
  margin: 20px 0 50px;
}
.hero-container .hero-content {
  width: 100%;
  max-width: 555px;
}
.hero-container .hero-img img {
  object-fit: cover;
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .hero-img {
    position: absolute;
    top: 50%;
    transform: translate(40px, -50%);
    right: 0;
  }
}
@media screen and (max-width: 1023px) {
  .hero .heading {
    font-size: 35px;
  }

  .hero {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 767px) {
  .hero-container {
    flex-direction: column-reverse;
    gap: 50px 0;
  }

  .hero .description {
    margin-bottom: 25px;
  }
}
.intro {
  padding-bottom: 95px;
}
.intro-container {
  padding: 37px 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  height: 200px;
  background-color: #fff;
  position: relative;
  z-index: 1;
  border-radius: 10px;
}
.intro-container::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 90%;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #0D1025;
  opacity: 0.06;
  filter: blur(114px);
  border-radius: 10px;
}
.intro-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 37px;
}
.intro-item:nth-child(2) {
  border-left: 2px solid #EEEFF2;
  border-right: 2px solid #EEEFF2;
}
.intro-info .intro-num {
  font-size: 25px;
  line-height: 1.2;
  margin-bottom: 5px;
}
.intro-info .intro-title {
  font-size: 20px;
  line-height: 1.5;
}

@media screen and (max-width: 767.98px) {
  .intro-item:nth-child(2) {
    border: 0;
  }

  .intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px 0;
    height: auto;
  }

  .intro-item {
    flex-direction: column;
    gap: 10px 0;
    text-align: center;
  }
}
.feature {
  padding-bottom: 130px;
}
.feature-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 170px;
}
.feature-content {
  margin-top: 55px;
}
.feature-content .heading {
  max-width: 383px;
}
.feature-content p {
  line-height: 1.875;
}
.feature-list {
  list-style: none;
}
.feature-item {
  display: flex;
  align-items: center;
  gap: 0 10px;
  margin-bottom: 15px;
}
.feature-item span {
  line-height: 2.1428571429;
  font-size: 14px;
}

@media screen and (max-width: 1279px) {
  .feature-container {
    gap: 0 50px;
  }
}
@media screen and (max-width: 1023.98px) {
  .feature-img img {
    width: 100%;
    object-fit: cover;
  }
}
@media screen and (max-width: 767.98px) {
  .feature-container {
    flex-direction: column;
  }
}
.plan .heading {
  max-width: 383px;
  text-align: center;
}
.plan .description {
  text-align: center;
}
.plan-main {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0 50px;
  margin-bottom: 150px;
}
.plan-item {
  padding: 80px 0 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #FFFFFF;
  border: 2px solid #DDDDDD;
  border-radius: 10px;
}
.plan-item:hover {
  border-color: #F53838;
}
.plan-item .btn {
  padding: 13px 63px;
}
.plan-item .btn.btn-nofill {
  border-width: 2px;
}
.plan-item-price {
  margin-top: auto;
  margin-bottom: 20px;
}
.plan-list {
  margin-bottom: 50px;
  list-style: none;
}
.plan-list-item {
  display: flex;
  align-items: center;
  gap: 0 20px;
  margin-bottom: 10px;
}
.plan-list-item span {
  font-size: 14px;
  line-height: 2.1428571429;
}
.plan-img {
  margin-bottom: 30px;
}
.plan-title {
  margin-bottom: 30px;
}

@media screen and (max-width: 1023px) {
  .plan {
    padding: 50px 0;
  }

  .plan-main {
    display: grid;
    justify-content: flex-start;
    grid-auto-columns: 280px;
    grid-auto-flow: column;
    grid-gap: 0 50px;
    overflow: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    grid-template-columns: unset;
    margin-bottom: 50px;
  }

  .plan-main::-webkit-scrollbar {
    display: none;
    width: 0;
  }

  .plan-main > * {
    scroll-snap-align: start;
  }
}
.network-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.network-container .boxed {
  margin-bottom: 156px;
}
.network-img {
  margin-bottom: 36px;
}
.network-img img {
  width: 100%;
  object-fit: cover;
}

.partner-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
  gap: 0 50px;
}
.partner-container img {
  width: 100%;
  filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 1023px) {
  .partner-container {
    gap: 0 20px;
  }
}
@media screen and (max-width: 767.98px) {
  .partner {
    margin-bottom: 40px;
  }

  .partner-container {
    flex-wrap: wrap;
    gap: 30px 30px;
  }
}
.customer {
  margin-bottom: 88px;
}
.customer-container .boxed .heading {
  max-width: 447px;
}
.customer-list {
  user-select: none;
  position: relative;
}
.customer-list .slick-list {
  overflow: hidden;
  padding-bottom: 83px;
}
.customer-list .slick-track {
  display: flex;
  justify-content: space-between;
  gap: 0 50px;
}
.customer-list .slick-slide {
  width: 400px;
}
.customer-list .slick-dots {
  display: flex;
  align-items: center;
  gap: 0 15px;
  list-style: none;
  transform: translateY(50%);
}
.customer-list .slick-dots li {
  position: relative;
  border-radius: 100rem;
  width: 15px;
  height: 15px;
  transition: all 0.3s linear;
}
.customer-list .slick-dots li.slick-active {
  width: 45px;
}
.customer-list .slick-dots li.slick-active button {
  background-color: #F53838;
}
.customer-list .slick-dots li button {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 0;
  background-color: #DDE0E4;
  border: 0;
  border-radius: 100rem;
}
.customer-list .slick-prev, .customer-list .slick-next {
  position: absolute;
  border: 2px solid #F53838;
  width: 60px;
  height: 60px;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  transform: translateY(50%);
}
.customer-list .slick-prev path, .customer-list .slick-next path {
  width: 100%;
  height: 100%;
  fill: #F53838;
}
.customer-list .slick-prev:hover, .customer-list .slick-next:hover {
  background-color: #F53838;
}
.customer-list .slick-prev:hover path, .customer-list .slick-next:hover path {
  fill: #fff;
}
.customer-list .slick-next {
  right: 0;
}
.customer-list .slick-prev {
  right: 80px;
}
.customer-item {
  background-color: #fff;
  border: 2px solid #DDD;
  border-radius: 10px;
  padding: 30px;
  transition: all 0.3s;
}
.customer-item:hover {
  border-color: #F53838;
}
.customer-item-header {
  margin-bottom: 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  gap: 0 20px;
}
.customer-item-header .customer-item-name {
  font-size: 18px;
  line-height: 1;
  margin-bottom: 5px;
}
.customer-item-header .customer-item-adress {
  font-size: 14px;
  line-height: 1;
}
.customer-item-info {
  flex: 1;
}
.customer-item-avatar {
  width: 50px;
  height: 50px;
}
.customer-item-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100rem;
}
.customer-item-rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
}
.customer-item > p.description {
  font-size: 16px;
  line-height: 1.875;
  font-weight: 400;
  margin-bottom: 0;
}

@media screen and (max-width: 1023.98px) {
  .customer {
    margin-bottom: 30px;
  }
  .customer .slick-list {
    padding: 30px 0;
  }
}
.subscribe-container {
  padding: 60px 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
}
.subscribe-container::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 90%;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background-color: #0D1025;
  opacity: 0.06;
  filter: blur(114px);
  border-radius: 10px;
}
.subscribe-container .boxed {
  align-items: flex-start;
}
.subscribe-container .boxed .heading {
  font-size: 35px;
  line-height: 1.2857142857;
  max-width: 370px;
  text-align: left;
}
.subscribe-container .boxed .description {
  font-size: 16px;
}

@media screen and (max-width: 1023.98px) {
  .subscribe-container {
    flex-direction: column;
  }
  .subscribe-container .boxed {
    align-items: center;
  }
  .subscribe-container .boxed .heading {
    text-align: center;
  }
}
.footer-container {
  display: flex;
  gap: 0 126px;
  justify-content: space-between;
  padding: 64px 0;
}
.footer-logo {
  margin-bottom: 20px;
}
.footer-content p.description {
  font-size: 16px;
  line-height: 1.875;
  max-width: 340px;
}
.footer-content .social-list {
  display: flex;
  align-items: center;
  margin: 30px 0;
}
.footer-total-links {
  display: flex;
  gap: 20px 126px;
  flex-wrap: wrap;
}
.footer-list .heading {
  font-size: 18px;
  line-height: 1.6666666667;
}
.footer-list li {
  margin-bottom: 10px;
}
.footer-link {
  font-size: 16px;
  line-height: 1.875;
}

@media screen and (max-width: 1023.98px) {
  .footer-container {
    flex-direction: column;
    gap: 40px 0;
  }
}
@media screen and (max-width: 767.98px) {
  .footer-total-links {
    gap: 30px 50%;
  }
}

/*# sourceMappingURL=app.css.map */
