.feature {
    padding-bottom: 130px;

    &-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0 170px;
    }

    &-content {
        margin-top: 55px;

        & .heading {
            max-width: 383px;
        }

        & p {
            line-height: calc(30/16);

        }
    }

    &-list {
        list-style: none;
    }

    &-item {
        display: flex;
        align-items: center;
        gap: 0 10px;
        margin-bottom: 15px;

        & span {
            line-height: calc(30/14);
            font-size: 14px;
        }
    }

}

@media screen and (max-width: 1279px) {
    .feature-container {
        gap: 0 50px;
    }
}


@media screen and (max-width: 1023.98px) {

    .feature-img {
        & img {
            width: 100%;
            object-fit: cover;
        }
    }
}

@media screen and (max-width: 767.98px) {
    .feature-container {
        flex-direction: column;
    }
}