@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');

.app {
    max-width: 1440px;
    margin: 0 auto
}

body {
    line-height: 1;
    color: $small-text-color;
    font-weight: 400;
    font-size: 16px;
    background-color: $background-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading-text-color;
    margin: 0;
    font-weight: 600;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;

}

button {
    border: 0;
    cursor: pointer;
    outline: none;
}

.btn {

    padding: 13px 45px;
    font-weight: 700;
    font-size: 16px;
    border: 1px solid $primary-color;
    border-radius: 100rem;

    &:active {
        opacity: 0.7;
    }

    &-nofill {
        background-color: transparent;
        color: $primary-color;
    }

    &-primary {
        background-color: $primary-color;
        color: #fff;

    }

    &-rounded {
        border-radius: 5px;
        position: relative;
        z-index: 1;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            transform: translateY(50%);
            background-color: $shadow-primary-color;
            filter: blur(54px);
            border-radius: 10px;
        }

    }

}

.heading {
    font-weight: 500;
    color: $heading-text-color;
    font-size: 35px;
    line-height: calc(50/35);
    margin-bottom: 20px;

    & strong {
        font-weight: 700;
    }
}

.description {
    max-width: 555px;
    font-weight: 400;
    margin-bottom: 20px;

    text & strong {

        font-weight: 500;
    }
}

.boxed {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & .heading {
        max-width: 383px;
        text-align: center;

    }

    & .description {
        line-height: calc(30/16);
        text-align: center;
    }
}

.underline {
    position: relative;
    transition: all 0.3s;

    &:hover {
        color: $primary-color;

        &::after {
            width: 100%;
        }
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 100%;
        width: 0;
        height: 3px;
        background-color: $primary-color;
        transition: all 0.3s;
    }
}

@media screen and (max-width: 767.98px) {
    .boxed {
        & .heading {
            font-size: 28px !important;
        }
    }
}