.header {
    padding: 45px 0 90px;

    &-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-auth {
        display: flex;
        align-items: center;
        gap: 0 30px;

    }

    &-signin {
        font-weight: 500;
        color: $heading-text-color;
    }
}

.menu {
    display: flex;
    align-items: center;
    gap: 0 40px;
    list-style: none;

    &-link {
        color: inherit;
        font-size: inherit;

    }
}