.subscribe {



    &-container {
        padding: 60px 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        background-color: #fff;
        border-radius: 10px;

        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            width: 90%;
            height: 100%;
            top: 0;
            left: 50%;
            transform: translate(-50%, 50%);
            background-color: #0D1025;
            opacity: 0.06;
            filter: blur(114px);
            border-radius: 10px;
        }

        & .boxed {
            align-items: flex-start;

            & .heading {
                font-size: 35px;
                line-height: calc(45/35);
                max-width: 370px;
                text-align: left;

            }

            & .description {
                font-size: 16px;

            }
        }
    }

}

@media screen and (max-width: 1023.98px) {
    .subscribe-container {
        flex-direction: column;

        & .boxed {
            align-items: center;

            & .heading {
                text-align: center;
            }
        }
    }

}