$font:'Rubik',
sans-serif;
$primary-color:#F53838;
$background-color:#F6F6F6;
$small-text-color: #4F5665;
$heading-text-color:#0B132A;
$shadow-primary-color: rgba(245, 56, 56, 0.35);


html {
    box-sizing: border-box;
    font-family: $font;
    scroll-behavior: smooth;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}